.root {
    /***************************************************************************
     *                                                                         *
     * The main color palette from which the rest of the colors are derived.   *
     *                                                                         *
     **************************************************************************/

    /* A light grey that is the base color for objects.  Instead of using
     * -fx-base directly, the sections in this file will typically use -fx-color.
     */
    -fx-base: #3C3F41;

    /* A very light grey used for the background of windows.  See also
     * -fx-text-background-color, which should be used as the -fx-text-fill
     * value for text painted on top of backgrounds colored with -fx-background.
     */
    -fx-background: derive(-fx-base, 26.4%);

    /* Used for the inside of text boxes, password boxes, lists, trees, and
     * tables.  See also -fx-text-inner-color, which should be used as the
     * -fx-text-fill value for text painted on top of backgrounds colored
     * with -fx-control-inner-background.
     */
    -fx-control-inner-background: derive(-fx-base, 80%);
    /* Version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, -2%);

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -sb-control-dark: #2B2B2B;
    -sb-control-light: #3E4143;
    -sb-control-darker: #212121;

    -sb-cell-label: #8C8C8C;
    -sb-cell-label-highlight: #BABABA;
    -sb-cell-disabled-label: #666666;

    -sb-cell-hover-bg: #3f3f3f;
    -sb-cell-odd: -sb-control-dark;
    -sb-cell-even: #262626;

    -sb-cell-selected-highlight: #53BE6B;
}